@import url("https://use.typekit.net/qwg8grf.css");


 *{
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
     
 }

 header{
    font-family: ibm-plex-thai, sans-serif;
    font-weight: 700;
    font-style: normal;
 }
 nav{
     position: fixed;
     background: #0e5f25;
     height: 100px;
     width: 100%;
     border: orange;
     border-bottom: palegreen;
     border-bottom: 3px solid #56b616;
 }
 

label.logo{
    background: url(../img/logo_napier.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    font-size: 35px;
    line-height: 100px;
    /* padding: 0 50px; */
    font-weight: bold;
}

 nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;

}

nav ul li a{
    border-radius: 10px;
    padding: 7px 13px;
    color: white; 
}

a.active{
    background: #054b19; 
    color: #f5a821;
    transition: .5s;
}

a:hover{
    color: #f5a821;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media  (min-width: 945px) and (max-width: 1060px){
   
    
    nav ul li a{
        font-size: 13px;
    }

}

@media (max-width: 945px){
   
    label.logo{
        color: white;
    
        font-size: 30px;
        line-height: 70px;
        font-weight: bold;
    }

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #133f20;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav{
        height: 70px;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    a.active,a:hover{
        background: none; 
        color: #f5a821;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn{

        line-height: 70px;

    }

}
