@import url(httpsuse.typekit.netqwg8grf.css);

.img-show {
  float: right;
  width: 50%;
}
.img-show img {
  float: left;
  margin-left: 30px;
  width: 100%;
}

.info-grass1 .detail2 {
  margin-top: 15px;
  color: #f5f5f5;
}
.info-grass1 .title2 {
  font-weight: 700;
  font-size: 30px;
  color: #27760d;
}
@media (max-width: 968px) {
  .img-show {
    width: 100%;
  }

  .img-show img {
    margin-left: 0px;
  }
}
