@import url("https://use.typekit.net/qwg8grf.css");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: ibm-plex-thai, sans-serif;
}

header {
  font-family: ibm-plex-thai, sans-serif;
  font-weight: 700;
  font-style: normal;
  z-index: 999;
}

.hamburger-icon {
  /* position: absolute; */
  padding-top: 13px;
  z-index: 1;
  float: right;
  line-height: 70px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

.hamburger-icon span {
  height: 5px;
  width: 35px;
  background-color: #7db847;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}
#openmenu {
  display: none;
}
.hidden {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.5s, height 0 1s;
  /* transition: all 0.5s ease-in-out; */
  height: 0;
}

.visuallyhidden {
  opacity: 0;
}

.content {
  display: inline-block;
  width: 100%;
  padding-top: 140px;
  /* margin-bottom: 40px; */
  padding-bottom: 40px;
  /* background: red; */
}
.content2 {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  /* background: maroon; */
}

.bg-gray {
  background: #f3f3f3;
}
.bg-gray2 {
  background: #fafafa;
}
.header-form {
  text-align: center;
  color: #5f5f5f;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
}
.form-reg {
  text-align: center;
  margin: auto;
  width: 80%;
  /* height: 600px; */
  background: #fff;
}

.table-container {
  margin-top: 30px;
  text-align: center;
  margin: auto;
  width: 80%;
  min-height: 700px;
  background: #fff;
}

.card-container {
  display: none;
  margin-top: 30px;
  text-align: center;
  margin: auto;
  width: 90%;
  min-height: 500px;
  /* background: red; */
}

.warning-login {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  width: 60%;
  height: 600px;
  padding-top: 0;
}

.table-container .content {
  text-align: left;
  margin-top: 30px;
  width: 60%;
  /* height: 600px; */
  /* background: yellowgreen; */

  padding-top: 0;
}

.form-reg .content {
  text-align: left;
  margin-top: 30px;
  width: 60%;
  /* height: 600px; */
  /* background: yellowgreen; */

  padding-top: 0;
}

.form-reg .warning-login {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  width: 60%;
  height: 600px;
  /* background: pink; */
  padding-top: 0;
}
.form-reg .warning-login p {
  padding-top: 60px;
}
.form-reg .content .title {
  padding-bottom: 25px;
}
.form-reg .content .content2row {
  float: left;
  width: 100%;
  /* padding-bottom: 15px; */
  /* height: 50px; */
  /* background: #e88f1b; */
}
.form-reg .content .content2row .content2row-1 {
  float: left;
  width: 50%;
  padding-bottom: 15px;
  /* height: 50px; */
  /* background: blueviolet; */
}
.form-reg .content .content2row .content2row-2 {
  float: left;
  float: left;
  width: 50%;
  padding-bottom: 15px;
  /* height: 50px; */
  /* background: navy; */
}
.form-reg .content .content1row {
  float: left;
  width: 100%;
  /* height: 50px; */
  padding-bottom: 15px;
  /* background: green; */
}
.form-reg .content .content1row .content1row-1 {
  float: left;
  width: 50%;
  /* height: 50px; */
  /* background: yellowgreen; */
}

.form-reg .content .content1row .content1row-1 .content1row-e {
  /* width: 50%; */
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-reg
  .content
  .content1row
  .content1row-1
  .content1row-e:hover
  input
  ~ .checkmark {
  background-color: #ccc;
}
.pdz {
  padding-bottom: 15px;
}
.form-reg
  .content
  .content1row
  .content1row-1
  .content1row-e
  input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-reg
  .content
  .content1row
  .content1row-1
  .content1row-e
  input:checked
  ~ .checkmark:after {
  display: block;
}

.form-reg .content .content1row .content1row-1 .content1row-e .checkmark:after {
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

.form-reg
  .content
  .content1row
  .content1row-1
  .content1row-e
  input:checked
  ~ .checkmark {
  background-color: #3bbd8b;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-reg .content .content1row .content1row-ex {
  text-align: center;
  float: left;
  width: 100%;
  /* height: 50px; */
  /* background: yellowgreen; */
}

.form-reg .content .content1row input[type="number"] {
  -webkit-appearance: none;
  display: inline;
  font-size: 14px;
  width: 15%;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
.form-reg .content .content1row p {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}

.form-reg .content .map {
}

.form-reg .content .map .search-box {
  width: 100%;
  padding-bottom: 25px;
}

.form-reg .content .map .search-box input {
  -webkit-appearance: none;
  width: 70%;
}
.form-reg .content .map .search-box button {
  -webkit-appearance: none;
  display: inline;
  width: 25%;
  background-color: #4caf50;
  border: 1px solid green;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}

.map-content {
  width: 100%;
  height: 400px;
  background: royalblue;
}

.map .position-selected {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.map .position-selected p {
  color: #0e5f25;
  font-weight: 700;
  display: inline;
}

.form-reg .content .btn-submit {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
.form-reg .content .btn-submit input {
  -webkit-appearance: none;
  width: 40%;
  background-color: #4caf50;
  border: 1px solid green;
  color: white;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.form-reg .content .btn-submit input:hover {
  background-color: #3e8e41;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;

  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
}

#map {
  width: 100%;
  height: 100%;
}

.form-reg .content input[type="text"] {
  -webkit-appearance: none;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}

.form-reg .content input[type="number"] {
  -webkit-appearance: none;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}

.form-reg .content select {
  -webkit-appearance: none;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}

.form-reg .content select:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px #9ecaed;
}

.form-reg .content input::-webkit-input-placeholder {
  padding-left: 5px;
  color: #ccc;
}
.form-reg .content input:focus {
  outline: none;
  border-color: #fcfcfc;
  box-shadow: 0 0 5px #9ecaed;
}

.form-reg .content .title {
  color: #289449;
  font-size: 18px;
  font-weight: 700;
}
.form-reg .content .title-input {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.requiredmark {
  display: inline;
  color: #b4283c;
}

.container div {
  float: left;
}

.img-grass {
  /* float: left; */

  float: left;
  width: 50%;

  /* background: violet; */
}
.img-grass img {
  float: right;
  margin-right: 30px;
  width: 100%;
}

.info-grass1 {
  /* float: right; */
  display: inline;
  padding-left: 30px;
  float: left;
  width: 50%;
  /* background: yellow; */
}

.info-grass1 .title {
  font-weight: 900;
  font-size: 24px;
  color: #1b1b1b;
}
.info-grass1 .detail {
  margin-top: 15px;
  color: #656565;
}

.info-grass1 .list {
  padding-top: 10px;
  padding-left: 30px;
}

.info-grass3 {
  margin: auto;
  width: 90%;
  /* height: 500px; */
  margin-bottom: 20px;
  /* background: yellow; */
}
.info-grass3 .header {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 50px;
}
.info-grass3 .box-left {
  width: 70%;
  padding-bottom: 30px;
  margin: 0 auto;
  /* background: red; */
}

.info-grass3 .box-right {
  width: 70%;
  padding-bottom: 30px;
  margin: 0 auto;
  /* background: red; */
}

.box-left .mini-img {
  text-align: center;
  float: left;
  width: 25%;

  /* background: blue; */
}
.box-left .mini-img img {
  width: 80%;
}
.box-left .infomation {
  padding-left: 20px;
  float: left;
  width: 75%;
  /* background: palevioletred; */
}

.box-left .infomation .title {
  font-weight: 700;
  font-size: 24px;
  color: #18620f;
}

.right-text {
  text-align: right;
}

.box-left .infomation .detail {
  margin-top: 10px;
  color: #8a8a8a;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  /* background: salmon; */
}
.bar-hist {
  max-width: 100%;
  /* height: 300px; */
  padding-top: 40px;
  padding-bottom: 40px;
  background: #91b84a;
}

.bar-hist .info-grass2 {
  width: 85%;
  /* background: maroon; */
  margin: auto;

  padding: 10px;
}
.info-grass2 .title {
  font-weight: 900;
  font-size: 24px;
  color: #27760d;
}
.info-grass2 .detail {
  margin-top: 15px;
  color: #fff;
}

.user-control {
  transition: all 0.5s ease-in-out;
  position: absolute;
  padding: 0;
  margin: 0;
  background: #cae496;
  height: 40px;
  width: 100%;
  z-index: -999;
}
.user-control ul {
  float: right;
}
.user-control ul li {
  line-height: 40px;
}

.user-control ul li a {
  color: #135907;
  font-size: 14px;
}
.user-control ul li a:hover {
  color: #27581e;
  transition: unset;
}
.credit {
  padding-top: 15px;
}

nav {
  transition: transform 0.3s;
  position: fixed;
  background: #fff;
  height: 100px;
  width: 100%;
  border: #d5eabc;
  border-bottom: 4px solid #d5eabc;
  z-index: 999;
}

nav img {
  height: 95%;
}

label.logo {
  background: url(../img/logo_napier.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  font-size: 35px;
  line-height: 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  border-radius: 10px;
  padding: 7px 13px;
  color: #4a7920;
}

a.active {
  background: #8dd15a;
  color: #14520d;
  transition: 0.5s;
}

a:hover {
  /* color: #f5a821; */
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #7db847;
  float: right;
  line-height: 100px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

.checkbtn2 {
  font-size: 30px;
  color: #7db847;
  float: right;
  line-height: 100px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

#check2 {
  display: none;
}

footer {
  display: inline-block;
  position: static;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80px;
  color: white;
  background: #478121;
  font-family: ibm-plex-thai, sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer div {
  text-align: center;
}

@media (min-width: 936px) and (max-width: 1060px) {
  nav ul li a {
    font-size: 13px;
  }
}

@media (max-width: 968px) {
  nav {
    border-bottom: 3px solid #56b616;
  }
  nav img {
    height: 85%;
    margin-top: 3px;
  }

  label.logo {
    color: white;

    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
  }

  .checkbtn {
    display: block;
    padding-top: 5px;
  }

  .checkbtn2 {
    display: block;
  }
  .user-control {
    transition: transform 0.3s;
    position: relative;
    background: #dedede;
    height: 0px;
    width: 100%;
  }

  .user-control .user-menu a {
    font-size: 20px;
    /* border-radius: 10px; */
    padding: 7px 13px;
    color: white;
  }

  ul.all-mainmenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1b6420;
    top: 70px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  ul.user-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1b6420;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul {
    margin-right: 0;
  }
  nav {
    height: 70px;
  }
  nav ul li {
    height: 10px;
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: #fff;
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: #f5a821;
  }

  /* #check:checked ~ ul.all-mainmenu {
    right: 0;
  } */
  .hamburger-icon span:nth-of-type(1) {
    background: #fff;
  }
  #openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
  }

  #openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
    transform: rotate(45deg);
  }

  #openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
    opacity: 0;
  }

  #openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
    opacity: 0;
  }

  #openmenu:checked ~ ul.all-mainmenu {
    right: 0;
  }

  #check2:checked ~ .user-control ul {
    left: 0;
  }

  .checkbtn,
  .checkbtn2 {
    line-height: 70px;
  }

  .content {
    padding-top: 80px;
  }
  .credit {
    font-size: 12px;
  }
  .container div {
    float: none;
  }
  .img-grass {
    width: 100%;
  }

  .info-grass1 {
    width: 100%;
  }
  .img-grass img {
    margin-right: 0px;
  }
  .box-left .mini-img {
    text-align: center;
    width: 100%;
  }
  .box-left .mini-img img {
    width: 50%;
  }
  .box-left .infomation {
    width: 100%;
    padding-left: 0px;
  }
  .info-grass3 .box-left {
    width: 90%;
  }
  .form-reg .content {
    width: 90%;
  }

  .form-reg .content .content2row {
    float: none;
  }
  .form-reg .content .content2row .content2row-1 {
    float: none;
    width: 100%;
  }
  .form-reg .content .content2row .content2row-2 {
    float: none;
    width: 100%;
  }
  .form-reg .content .content1row .content1row-1 {
    float: left;
    width: 100%;
  }
  .form-reg .content .btn-submit input {
    -webkit-appearance: none;
    width: 100%;
  }
  .table-container {
    display: none;
  }
  .card-container {
    display: block;
  }
  .header-form {
    font-size: 20px;
  }
  .form-reg {
    width: 90%;
  }
}
